spring:
  servlet:
      multipart:
        max-file-size: 10MB
        max-request-size: 10MB
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    # url: jdbc:mysql://10.86.131.107:3306/${DB_NAME}
    # username: ${DB_USERNAME}
    # password: ${DB_PASSWORD}
    url: jdbc:mysql://localhost:3306/chattingdatabase
    username: root
    # password: thanh2306
    password: IamPhong89
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update

server:
  error:
    include-message: always